body {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

h1 {
	font-family: sans-serif;
	margin-top: 1.5em;
	font-size: 32px;
}

h3 {
	font-family: sans-serif;
}

table, th, td, caption, thead, tbody {
	border: 1px solid black;
	border-collapse: collapse;
}

figcaption {
	font-style: italic;
}

figure {
	float: right;
	margin: 4px 10px 10px 10px;
}